@define-color main-bg rgb(26, 27, 38);
@define-color main-fg rgb(225, 225, 245);
@define-color wb-act-bg rgb(122, 162, 247);
@define-color wb-act-fg #15161E;

* {
	border-radius: 0;
    font-family: "0xProto Nerd Font";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background: transparent;
}

window > box {
	border-radius: 5px;
	margin-top: 5px;
	padding-left: 10px;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 5px;
}

#workspaces, #taskbar {
	background: @main-bg;
	border-radius: 5px;
	margin: 4px 0;
}

#workspaces button, #taskbar button {
	border-radius: 5px;
    padding: 3px 0;
}

#taskbar button {
	padding: 0px 5px;
}

#workspaces button.focused, #taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
}

#tray, #clock, #battery, 
#pulseaudio, #backlight, #idle_inhibitor, 
#custom-clipboard, #custom-networkmanager, #custom-bluetooth,
#custom-power, #custom-l_end, #custom-r_end {
    background: @main-bg;
    margin: 4px 0;
    padding: 0px 4px;
}

#battery {
	color:  #7aa2f7;
}

#pulseaudio {
	color:  #e0af68;
}

#backlight {
	color: #f7768e;
}

#tray {
	border-radius: 5px;
	margin-right: 18px;
	padding: 0 5px
}

#custom-l_end {
	border-radius: 5px 0 0 5px;
    margin-left: 9px;
}

#custom-r_end {
	border-radius: 0 5px 5px 0;
    margin-right: 9px;
}

#custom-padd {
    margin-left: 9px;
}
