@define-color bar-bg rgba(26, 27, 38, 0.95);
@define-color main-bg rgb(41, 46, 66);
@define-color main-fg rgb(225, 225, 245);
@define-color wb-act-bg rgb(225,226,231);
@define-color wb-act-fg rgb(13, 12, 26);

* {
	border-radius: 0;
    font-family: "0xProto Nerd Font";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background: transparent;
}

window > box {
	border-radius: 5px;
	background: @bar-bg;
	margin: 5px 5px 0 5px;
	padding: 0 10px 0 18px;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
}

#workspaces, #taskbar {
	border-radius: 5px;
}

#workspaces button, #taskbar button {
	border-radius: 5px;
	margin: 3px;
    padding: 0px 5px;
    color: @main-fg;
}

#workspaces button:hover, #taskbar button:hover {
	background: @bar-bg;
}

#workspaces button.focused, #taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
}

#workspaces button.focused {
	padding: 0 5px 0 5px;
}

#tray, #workspaces, #taskbar, #clock, #battery, 
#pulseaudio, #backlight, #idle_inhibitor, 
#custom-clipboard, #custom-networkmanager, 
#custom-power, #custom-l_end, #custom-r_end {
    color: @main-fg;
    background: @main-bg;
    margin: 4px 0;
    padding: 0px 4px;
}

#tray {
	border-radius: 5px;
	margin-right: 18px;
	padding: 0 5px
}

#custom-l_end {
	border-radius: 5px 0 0 5px;
    margin-left: 9px;
}

#custom-r_end {
	border-radius: 0 5px 5px 0;
    margin-right: 9px;
}

#custom-padd {
    margin-left: 9px;
}
