* {
    main-bg:            rgba(26, 27, 38, 0.95);
    main-fg:            #101c44;
    main-br:            rgb(225,226,231);
    select-bg:          rgb(225,226,231);
    select-fg:			#1a415e;
    text:				#CDD6F4;
    text-fg:			#101c44;
}
