* {
    main-bg:            rgba(26, 27, 38, 0.95);
    main-fg:            #101c44;
    main-br:            #e1e2e7;
    select-bg:          #e1e2e7;
    select-fg:			#1a415e;
    text:				#CDD6F4;
    text-fg:			#101c44;
}
